.titleContainer {
  display: flex;
  justify-content: center;
  margin-top: 7.5%;
  margin-bottom: 5%;
}

@media screen and (min-width: 540px) {
  .titleContainer {
    margin-top: 40.5px;
    margin-bottom: 27px;
  }
}
