form {
  width: 100%;
  margin-top: 5%;
}

@media screen and (min-width: 540px) {
  form {
    margin-top: 27px;
  }
}

.formInput {
  width: 80%;
  align-self: center;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.formContainer {
  display: flex;
  justify-content: space-evenly;
  max-width: 720px !important;
}
